
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<center>
    <div>
        <font size="6">
            Admin Dashboard
        </font>
    </div>
    <br />
</center>
@if (TempData["Msg"] != null)
{
    <div>
        <div class="alert alert-danger">@TempData["Msg"]</div>
    </div>
}
<center>
    <div class="container">
        <div class="container"><a href="/Admin/CreatePost">Create New Post</a></div><br />
        <div class="container"><a href="/Admin/ViewAllPost">View All Post</a></div><br />
        <div class="container"><a href="/Admin/ViewAllUser">View All User</a></div><br />
    </div>
</center>
<div>
    <button class="btn btn-danger"><a href="/Admin/Logout">Logout</a></button>
</div>

