
@{
    ViewBag.Title = "ViewAllPost";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<center>
    <div class="container w-50">
        <font size="6">View All Post</font>
        <hr />
    </div>
</center>
<table class="table">
    <tr>
        <th>Post Id</th>
        <th>Post Title</th>
        <th>Post Details</th>
        <th>Post Date</th>
        <th>Action</th>
    </tr>
    @foreach(var item in Model) {
    <tr>
        <td>@item.PostId</td>
        <td>@item.PostTitle</td>
        <td>@item.PostBody</td>
        <td>@item.PostDate</td>
        <td>
            <a href="/Admin/EditPost/@item.PostId">Edit Post</a> || 
            <a href="/Admin/DeletePost/@item.PostId">Delete Post</a>
        </td>
    </tr>
    }
</table>

